#Main Methods
- .read_excel('path')
- .DataFrame(file)
- .head() - First Rows
- .shape - The spreeedsheet size
- .describe() - General analysis
- .loc[rows, columns] - Locates a specific row
- .append() - Incrementing the DF
- .drop('column name', axis = 0/1) - Removes a row/column
- .fillna(value, axis = 0/1) - fills with a specific value
- .ffill() - Fills the empty values with the last/first one
- .value_counts() - conunts the values by name
- .groupby('column/row').operation(eg.: sum()/mean()) - groups by a name and does some operation with the numeric values

#Importing Pandas

In [8]:
import pandas as pd
pd.__version__
import numpy as np

#Converting dictionary to a DataFrame (Array)

In [9]:
sales1 = {'date': ['20/07/2021', '19/02/2021'], 'value': [1520, 780], 'products': ['chocolate', 'fruits'], 'amount': [120, 231]}
sales1_df = pd.DataFrame(sales1)
display(sales1_df)

         date  value   products  amount
0  20/07/2021   1520  chocolate     120
1  19/02/2021    780     fruits     231

#Reading Excel Files

In [10]:
sales_df = pd.read_excel('/content/Vendas.xlsx')
display(sales_df.head(10))

   Código Venda       Data  ... Valor Unitário Valor Final
0             1 2019-01-01  ...            358         358
1             1 2019-01-01  ...            180         360
2             1 2019-01-01  ...            368         368
3             2 2019-01-02  ...            200         600
4             2 2019-01-02  ...             71          71
5             3 2019-01-02  ...            248         248
6             5 2019-01-02  ...            170         170
7             6 2019-01-02  ...            149         596
8             7 2019-01-02  ...            116         116
9             7 2019-01-02  ...            105         105

[10 rows x 7 columns]

In [11]:
print(sales_df.shape)#Rows and collumns size

(93910, 7)

#.Describe()
- count: Number of elements by rows
- mean: general avarage
- std: standard deviation

In [12]:
display(sales_df.describe())#Dataframe analysis

       Código Venda    Quantidade  Valor Unitário   Valor Final
count  93910.000000  93910.000000    93910.000000  93910.000000
mean   32464.762155      2.166553      191.725886    414.862656
std    18809.007093      1.258732      145.215519    434.846228
min        1.000000      1.000000       30.000000     30.000000
25%    16204.000000      1.000000      100.000000    156.000000
50%    32367.000000      2.000000      155.000000    274.000000
75%    48793.750000      3.000000      248.000000    524.000000
max    65014.000000      5.000000      750.000000   3750.000000

In [13]:
#Reading a single row will create a SERIES
#If we read 2 or more rows, it´s gonna be a Dataframe like: 
#sales_df[['Valor final', 'ID loja']] USING 2 [][]
final_value = sales_df['Valor Final']
display(final_value)

0         358
1         360
2         368
3         600
4          71
         ...
93905     566
93906     158
93907     201
93908     570
93909    1036
Name: Valor Final, Length: 93910, dtype: int64

In [14]:
#LOC
#Grabing a single line will create a serie
#Grabing one or more
display(sales_df.loc[1:3])

   Código Venda       Data  ... Valor Unitário Valor Final
1             1 2019-01-01  ...            180         360
2             1 2019-01-01  ...            368         368
3             2 2019-01-02  ...            200         600

[3 rows x 7 columns]

#Filtering by a ID

In [15]:
Iguatemi_sales_df = sales_df.loc[sales_df['ID Loja'] == 'Iguatemi Esplanada']
display(Iguatemi_sales_df)

       Código Venda       Data  ... Valor Unitário Valor Final
0                 1 2019-01-01  ...            358         358
1                 1 2019-01-01  ...            180         360
2                 1 2019-01-01  ...            368         368
26               21 2019-01-02  ...            116         232
44               34 2019-01-02  ...            363         363
...             ...        ...  ...            ...         ...
93745         64908 2019-11-30  ...             30         120
93776         64928 2019-11-30  ...            259         777
93880         64993 2019-11-30  ...            157         314
93881         64993 2019-11-30  ...             66          66
93882         64993 2019-11-30  ...            209         209

[3722 rows x 7 columns]

#Locating specific columns for specific IDs

In [16]:
#Grabing some columns for iguatemi shopping
iguatemi_values = sales_df.loc[sales_df['ID Loja'] == 'Iguatemi Esplanada', ['Produto', 'Valor Unitário', 'Valor Final']]
display(iguatemi_values)

                      Produto  Valor Unitário  Valor Final
0              Sapato Estampa             358          358
1                    Camiseta             180          360
2               Sapato Xadrez             368          368
26     Camisa Gola V Listrado             116          232
44            Sapato Listrado             363          363
...                       ...             ...          ...
93745                    Meia              30          120
93776            Tênis Xadrez             259          777
93880            Bermuda Liso             157          314
93881          Chinelo Xadrez              66           66
93882              Cinto Liso             209          209

[3722 rows x 3 columns]

In [17]:
#Grabing specific value
print(sales_df.loc[93745, 'Produto'])

Meia

#Creating Columns
There are two ways:
- Throgh a existing one
- A totally new column

In [18]:
#Creating a new column based in another one
sales_df['Comissão'] = sales_df['Valor Final'] * 0.5

In [19]:
#Creating from zero another column
#':' SELECTS ALL THE ELEMENTS
sales_df.loc[:, 'Impostos'] = sales_df['Valor Final'] * 0.0069
display(sales_df)

       Código Venda       Data  ... Comissão Impostos
0                 1 2019-01-01  ...    179.0   2.4702
1                 1 2019-01-01  ...    180.0   2.4840
2                 1 2019-01-01  ...    184.0   2.5392
3                 2 2019-01-02  ...    300.0   4.1400
4                 2 2019-01-02  ...     35.5   0.4899
...             ...        ...  ...      ...      ...
93905         65012 2019-11-30  ...    283.0   3.9054
93906         65013 2019-11-30  ...     79.0   1.0902
93907         65013 2019-11-30  ...    100.5   1.3869
93908         65014 2019-11-30  ...    285.0   3.9330
93909         65014 2019-11-30  ...    518.0   7.1484

[93910 rows x 9 columns]

#Creating Rows
Ps.: DON'T RUN THE ADDITION ROWS CELL AGAIN. It will add more rows!

In [20]:
#Adding deceber sales
salesdec_df = pd.read_excel('/content/Vendas - Dez.xlsx')
sales_df = sales_df.append(salesdec_df)

#Deleting Rows n Columns
Axis = 0: Removing Columns


Axis = 1: Removing Rows

In [21]:
sales_df = sales_df.drop('Comissão', axis = 1)
sales_df = sales_df.drop(1, axis = 0)
display(sales_df)

      Código Venda       Data  ... Valor Final Impostos
0                1 2019-01-01  ...         358   2.4702
2                1 2019-01-01  ...         368   2.5392
3                2 2019-01-02  ...         600   4.1400
4                2 2019-01-02  ...          71   0.4899
5                3 2019-01-02  ...         248   1.7112
...            ...        ...  ...         ...      ...
7084         69996 2019-12-26  ...         204      NaN
7085         69996 2019-12-26  ...        1080      NaN
7086         69996 2019-12-26  ...          87      NaN
7087         69997 2019-12-26  ...         108      NaN
7088         69997 2019-12-26  ...         266      NaN

[100997 rows x 8 columns]

#Deleting Empty Values

In [22]:
#Here we can add ,axis to remove only columns or rows
sales_df = sales_df.dropna(how = 'all')

#Deleting rows that has AT LEAST 1 empty value
sales_df = sales_df.dropna()

#Filling Empty Values

In [23]:
#filling with the mean
#To fill with a specific value, just use .fillna(value)
sales_df['Impostos'] = sales_df['Impostos'].fillna(sales_df['Impostos'].mean())
display(sales_df)

#Filling with FIRST/LAST values
sales_df = sales_df.ffill()

       Código Venda       Data  ... Valor Final Impostos
0                 1 2019-01-01  ...         358   2.4702
2                 1 2019-01-01  ...         368   2.5392
3                 2 2019-01-02  ...         600   4.1400
4                 2 2019-01-02  ...          71   0.4899
5                 3 2019-01-02  ...         248   1.7112
...             ...        ...  ...         ...      ...
93905         65012 2019-11-30  ...         566   3.9054
93906         65013 2019-11-30  ...         158   1.0902
93907         65013 2019-11-30  ...         201   1.3869
93908         65014 2019-11-30  ...         570   3.9330
93909         65014 2019-11-30  ...        1036   7.1484

[93909 rows x 8 columns]

#Other Methods

In [24]:
sales_by_id = sales_df['ID Loja'].value_counts()
display(sales_by_id)

Shopping Vila Velha                 3935
Norte Shopping                      3924
Palladium Shopping Curitiba         3909
Shopping Center Leste Aricanduva    3863
Bourbon Shopping SP                 3830
Rio Mar Shopping Fortaleza          3824
Novo Shopping Ribeirão Preto        3810
Shopping SP Market                  3808
Iguatemi Campinas                   3793
Shopping Ibirapuera                 3778
Ribeirão Shopping                   3771
Shopping Center Interlagos          3767
Rio Mar Recife                      3733
Shopping Iguatemi Fortaleza         3731
Salvador Shopping                   3728
Iguatemi Esplanada                  3721
Center Shopping Uberlândia          3713
Shopping União de Osasco            3711
Passei das Águas Shopping           3711
Shopping Barra                      3702
Shopping Eldorado                   3698
Shopping Morumbi                    3654
Parque Dom Pedro Shopping           3612
Shopping Recife                     3605
Shopping Midway Mall                3578
Name: ID Loja, dtype: int64

In [25]:
sell_by_prod = sales_df[['Produto', 'Valor Final']].groupby('Produto').sum()
display(sell_by_prod)

                  Valor Final
Produto
Bermuda                253800
Bermuda Estampa        273104
Bermuda Linho          369135
Bermuda Liso           257009
Bermuda Listrado       273025
...                       ...
Tênis Estampa          425728
Tênis Linho            503622
Tênis Liso             440496
Tênis Listrado         455094
Tênis Xadrez           430199

[120 rows x 1 columns]

#Merging DataFrames!

In [27]:
managers_df = pd.read_excel('/content/Gerentes.xlsx')
sales_df = sales_df.merge(managers_df)
display(sales_df)

       Código Venda       Data  ... Impostos   Gerente
0                 1 2019-01-01  ...   2.4702  Salvador
1                 1 2019-01-01  ...   2.5392  Salvador
2                21 2019-01-02  ...   1.6008  Salvador
3                34 2019-01-02  ...   2.5047  Salvador
4                34 2019-01-02  ...   1.6284  Salvador
...             ...        ...  ...      ...       ...
93904         64922 2019-11-30  ...   1.8561    Mateus
93905         64922 2019-11-30  ...   5.5200    Mateus
93906         64982 2019-11-30  ...   3.2085    Mateus
93907         64982 2019-11-30  ...   4.9680    Mateus
93908         64982 2019-11-30  ...   1.4697    Mateus

[93909 rows x 9 columns]